#gdb port 3341
#telnet port 4451

adapter speed 5000

# set debug level to 0
debug_level 2
# OpenOCD configuration for the RP2350 cortex-m33 ARM processor
source [find interface/cmsis-dap.cfg]

# Probe both Cortex-M33 cores
#set USE_CORE { cm0 cm1 }
#set USE_CORE cm0

# Do the rest of the DP setup
source [find target/rp2350.cfg]

